.hudLayout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* Stack elements vertically */
  height: 100vh;
  width: 100vw; /* Ensure full width of the viewport */
  position: relative;
  pointer-events: none; /* Allow clicks to pass through */
}

.hudLayout > div {
  pointer-events: none; /* Allow clicks to pass through */
}

.topLeftCorner, .topRightCorner,
.bottomLeftCorner, .bottomRightCorner {
  position: absolute;
  z-index: 10; /* Corners take priority for z-space */
  background: rgba(0, 0, 0, 0); /* transparent background */
  pointer-events: auto; /* Enable clicks on HUD components */
  width: 20%;
  height: 20%;
}

.topLeftCorner {
  top: 0;
  left: 0;
}

.topRightCorner {
  top: 10%;
  right: 8%; /* Matches the RightSideBar width */
  width: 120px;
  height: 120px;
}

.bottomLeftCorner {
  bottom: 3%;
  background: rgba(0, 0, 0, 0.8); /* transparent background */
  left: 6%; /* Ensure it aligns with the left side */
}

.bottomRightCorner {
  bottom: 3%;
  right: 8%;
  background: rgba(0, 0, 0, 0.8); /* transparent background */
}

.topBar, .bottomBar {
  position: absolute;
  background: rgba(0, 0, 0, 0.0); /* transparent background */
  pointer-events: auto; /* Enable clicks on HUD components */
}

.topBar {
  z-index: 3;
  top: 0;
  width: 100%;
  height: 5%;
  pointer-events: auto; /* Enable clicks on HUD components */
}

.bottomBar {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%; /* Stretch across the full width of the screen */
  height: 5%; /* Adjust height as needed */
  z-index: 3;
}

.leftSideBar, .rightSideBar {
  position: absolute;
  background: rgba(0, 0, 0, 0.0); /* transparent background */
  pointer-events: auto; /* Enable clicks on HUD components */
}

.leftSideBar {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 5%; /* Adjust width as needed */
  bottom: 0; /* Dynamically stop at the top of the BottomBar */
  background-image: url('../../assets/images/Starcom-UI_ConceptArt-sideLeft.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.rightSideBar {
  right: 0;
  width: 8%;
  top: 5%; /* Start from the top */
  bottom: 5%;
}

.center {
  position: absolute;
  background: transparent; /* Fully transparent background */
  pointer-events: none; /* Allow clicks to pass through */
}