.tinyGlobeContainer {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.dayShader {
    background: linear-gradient(to bottom, #87CEEB, #FFFFFF); /* Light blue to white */
    opacity: 0.5;
}

.nightShader {
    background: linear-gradient(to bottom, #000000, #000033); /* Black to dark blue */
    opacity: 0.7;
}