.bottomBar {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    padding: 0%;
    background: rgba(0, 0, 0, 0.0);
    color: #fff;
    width: 100%; /* Stretch across the full width of the screen */
    height: 5%; /* Ensure consistent height */
    position: fixed; /* Fix the BottomBar to the bottom of the viewport */
    bottom: 0;
    left: 0;
    pointer-events: auto; /* Enable clicks on HUD components */
}

.resourceSection {
    font-family: 'Aldrich-Regular', sans-serif; /* From your assets/fonts */
}

.error {
    color: #ff4444;
}